{%extends "CdlrcodeBundle::layout.html.twig" %}

{% block content %}
    <div class="container floated">
        <div class="sixteen floated page-title" >
            <h2>Test</h2>
        </div>
    </div>
    <p align="center"> <img  src="{{asset(entity.image)}}" style="margin-top:20px"/> </p>

    <div class="large-notice">        
        <h3>  <p align="center" > {{ entity.contenu }} </p> </h3> <br>

        <form name= "Reponses"  method="POST" >
            <div align="center"><br>
                <input type="radio" name="group1" value="{{ entity.reponse1 }}"checked> {{ entity.reponse1 }}<br>
                <input type="radio" name="group1" value="{{ entity.reponse2 }}" > {{ entity.reponse2 }} <br>
                <input type="radio" name="group1" value="{{ entity.reponse3 }}"> {{ entity.reponse3 }}

            </div>

            <input type="submit"  value="Question suivante" />

        </form>
    </div>








{% endblock %}
