{% extends "CdlrcodeBundle::layout.html.twig" %}




        {% block content %}
            <div class="page-content">


    <!-- 960 Container -->
    <div class="container">

        <!-- Buttons
        ================================================== -->
            <div class="eight columns">
                                {% trans_default_domain 'FOSUserBundle' %}

                <!-- Headline -->
                <h3 class="margin-reset">se connecter</h3><br />
                <form class="cd-form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                    <p class="fieldset">

                        <label class="image-replace cd-email" for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="full-width has-padding has-border" type="text" id="username" name="_username" value="{% if last_username is defined %} {{ last_username }} {% endif %}" placeholder="E-mail" required="required" />
                        <span class="cd-error-message">Error message here!</span>
                    </p>
                    <p class="fieldset">

                        <label class="image-replace cd-password" for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="full-width has-padding has-border" type="password" id="password" name="_password" required="required" />
                    </p>
                    <p class="fieldset">

                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </p>
                    <p class="fieldset">

                        <input type="submit"  name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </p>
                </form>
            </div>
                                <div class="eight columns">
                <h3 class="margin-reset">s'enregistrer</h3><br />

                                                                    {{ render(controller('CdlrUserBundle:Registration:regForm')) }}

            </div>
</div> </div> 

        {% endblock %}
   