<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>

        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Code de la route</title>

        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
        ================================================== -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" href="{{ asset( 'css/style.css' ) }}">
        <link rel="stylesheet" href="{{ asset( 'css/social.css' ) }}">

        <link rel="stylesheet" href="{{ asset('css/signup.css') }}"> <!-- Gem style -->
        <link rel="stylesheet" href="{{ asset( 'css/colors/blue.css' ) }}" id="colors">

        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Java Script
        ================================================== -->

        <script src="{{ asset( 'scripts/jquery-ui.min.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.flexslider.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.selectnav.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.twitter.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.modernizr.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.easing.1.3.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.contact.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.isotope.min.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.jcarousel.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.fancybox.min.js' ) }}"></script>
        <script src="{{ asset( 'scripts/jquery.layerslider.min.js' ) }}"></script>
        <script src="{{ asset( 'scripts/custom.js' ) }}"></script>
        <script src="{{ asset('js/modernizr.js') }}"></script> <!-- Modernizr -->

        <script src='../../google_analytics_auto.js'></script></head>
    <body>
        <!-- Wrapper / Start -->
        <div id="wrapper">

            <!-- Header
            ================================================== -->
            <div id="top-line"></div>

            <!-- 960 Container -->
            <div class="container">

                <!-- Header -->
                <header id="header">

                    <!-- Logo -->
                    <div class="ten columns">
                        <div id="logo">
                            <h1><a href="#"><img src="{{ asset( 'images/icon.png' ) }}" alt="code de la route" /></a></h1>
                            <div id="tagline">Votre guide de conduite!</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- Social / Contact -->
                    <div class="six columns">
                        {% block sign %}
                            <div>
                                <nav class="main-nav">
                                    <ul>
                                        <!-- inser more links here -->
                                        <li><a class="cd-signin" style="margin-top: -40px" href="#0">Sign in</a></li>
                                        <li><a class="cd-signup" style="margin-top: -40px" href="#0">Sign up</a></li>
                                    </ul>
                                </nav>
                            </div> 

                        {% endblock %}
                        <br>

                        <div class="clearfix"></div>

                        <div class="clearfix"></div>
                        <!-- SIGNUP -->
                        <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
                            <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
                                <ul class="cd-switcher">
                                    <li><a href="#0">Sign in</a></li>
                                    <li><a href="#0">New account</a></li>
                                </ul>

                                <div id="cd-login"> <!-- log in form -->
                                    <form class="cd-form" action="{{ path("fos_user_security_check") }}" method="post">
                                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                                        <p class="fieldset">

                                        <label class="image-replace cd-email" for="username">{{ 'security.login.username'|trans }}</label>
                                        <input class="full-width has-padding has-border" type="text" id="username" name="_username" value="{% if last_username is defined %} {{ last_username }} {% endif %}" placeholder="E-mail" required="required" />
                                        <span class="cd-error-message">Error message here!</span>
                                        </p>
                                        <p class="fieldset">

                                        <label class="image-replace cd-password" for="password">{{ 'security.login.password'|trans }}</label>
                                        <input class="full-width has-padding has-border" type="password" id="password" name="_password" required="required" />
                                        <a href="#0" class="hide-password">Hide</a>
                                        </p>
                                        <p class="fieldset">

                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                        </p>
                                        <p class="fieldset">

                                        <input class="full-width has-padding" type="submit"  name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                        </p>
                                    </form>

                                </div> <!-- cd-login -->

                                <div id="cd-signup"> <!-- sign up form -->
                                    <form class="cd-form">
                                    </form>

                                    <!-- <a href="#0" class="cd-close-form">Close</a> -->
                                </div> <!-- cd-signup -->

                                <div id="cd-reset-password"> <!-- reset password form -->
                                    <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

                                    <form class="cd-form">
                                        <p class="fieldset">
                                            <label class="image-replace cd-email" for="reset-email">E-mail</label>
                                            <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                                            <span class="cd-error-message">Error message here!</span>
                                        </p>

                                        <p class="fieldset">
                                            <input class="full-width has-padding" type="submit" value="Reset password">
                                        </p>
                                    </form>

                                    <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
                                </div> <!-- cd-reset-password -->
                                <a href="#0" class="cd-close-form">Close</a>
                            </div> <!-- cd-user-modal-container -->
                        </div> <!-- cd-user-modal -->
                        <script src="{{ asset( 'scripts/jquery.min.js' ) }}"></script>
                        <script src="{{asset('js/main.js')}}"></script> <!-- Gem jQuery -->

                        <!-- Contact Details -->
                        <!--<div class="contact-details">Contact e-mail: +48 880 440 110</div>-->

                        <div class="clearfix"></div>

                        <!-- Search -->
                        <nav class="top-search">
                            <form action="" method="get">
                                <button class="search-btn"></button>
                                <input class="search-field" type="text" onblur="if (this.value == '')
                                                this.value = 'Search';" onfocus="if (this.value == 'Search')
                                                            this.value = '';" value="Search" />
                            </form>
                        </nav>
                        <br>
                        <nav>
                            <br>
                            <div align="right">{{ facebookButton() }}
                                <br>
                                {{ twitterButton() }}
                            </div>
                        </nav>
                    </div>
                </header>
                <!-- Header / End -->



                <div class="clearfix"></div>

            </div>
            <!-- 960 Container / End -->


            <!-- Navigation
            ================================================== -->

            <nav id="navigation" class="style-1">

                <div class="left-corner"></div>
                <div class="right-corner"></div>

                <ul class="menu" id="responsive">

                    <li><a href="{{ path('cdlr_user_homepage') }}" id="current"><i class="halflings white home"></i> Accueil</a></li>
                        {% block navigation %}
                        <li><a href="{{ path('cours') }}"><i class="halflings white book"></i> Cours gratuits</a>
                            <!-- Mega Menu / Start -->
                            <ul class="cols3">
                                <li class="col1">
                                    <h5>Cours gratuits</h5>
                                    <ol>
                                        <li><a href="">Les catégories de permis</a></li>
                                        <li><a href="">Les panneaux routiers</a></li>
                                        <li><a href="">Les feux routiers</a></li>
                                    </ol>
                                </li>
                                <li class="col1">
                                    <h5>Cours vidéos gratuits</h5>
                                    <ol>
                                        <li><a href="">Cours 1</a></li>
                                        <li><a href="">Cours 2</a></li>
                                        <li><a href="">Cours 3</a></li>
                                        <li><a href="">Cours 4</a></li>
                                    </ol>
                                </li>
                            </ul>
                            <!-- Mega Menu / End -->
                        </li>

                        <li><a href="#"><i class="halflings white file"></i> Tests gratuits</a>
                            <!-- Second Level / Start -->
                            <ul>
                                <li><a href="">Test 1</a></li>
                                <li><a href="">Test 2</a></li>
                                <li><a href="">Test 3</a></li>
                                <li><a href="">Test 4</a></li>
                            </ul>
                            <!-- Second Level / End -->
                        </li>

                        <li><a><i class="halflings white pushpin"></i> Annonces</a>
                            <!-- Second Level / Start -->
                            <ul>
                                <li><a href="">Offres d'emploi</a></li>
                                <li><a href="">Vente de voitures</a></li>
                            </ul>
                            <!-- Second Level / End -->
                        </li>
                        <li>
                            <a href=""><i class="halflings white briefcase"></i> Assurances</a>
                        </li>

                    {% endblock %}
                    <li><a href=""><i class="halflings white search"></i> Auto-écoles</a></li>
                </ul>
            </nav>

            <div class="clearfix"></div>

            {% block content %}

            {% endblock %}




        </div>
        <!-- Wrapper / End -->
        <!-- Footer
        ================================================== -->

        <!-- Footer / Start -->
        <footer id="footer">
            <!-- 960 Container -->
            <div class="container">

                <!-- About -->
                <div class="one-third column">
                    <h4>A propos de nous</h4>
<!--                    <img id="logo-footer" src="{{ asset ('images/logo-footer.png') }}" alt="" />-->
                    <p class="one-third column">Morbi gravida imperdiet rutrum fusce mattis, lectus consequat vestibulum, duinibh fermentum ligula.</p>

                </div>

                <!-- Contact Details -->
                <div class="one-third column">
                    <h4>Contactez nous</h4>
                    <ul class="contact-details-alt">
                        <li><i class="halflings white map-marker"></i> <p><strong>Adresse:</strong> Esprit - Ghazela, Ariana</p></li>
                        <li><i class="halflings white user"></i> <p><strong>Téléphone:</strong> +216 000 000</p></li>
                        <li><i class="halflings white envelope"></i> <p><strong>Email:</strong> <a href="#">codedelaroute.fahm@gmail.com</a></p></li>
                    </ul>
                </div>

                <!-- Photo Stream -->
                <div class="one-third column">
                    <h4>Rejoignez nous sur:</h4>
                    <div class="set-1">
                        <ul>
                            <li><a href="https://www.facebook.com" class="facebook-small">Facebook</a></li>
                            <li><a href="https://www.twitter.com" class="twitter-small">Twitter</a></li>
                            <li><a href="https://plus.google.com" class="gplus-small">GPlus</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- 960 Container / End -->

        </footer>
        <!-- Footer / End -->


        <!-- Footer Bottom / Start  -->
        <footer id="footer-bottom">

            <!-- 960 Container -->
            <div class="container">

                <!-- Copyrights -->
                <div class="eight columns">
                    <div class="copyright">
                        © Copyright 2015 by <a href="#">Five and a half man</a>. All Rights Reserved.
                    </div>
                </div>

                <!-- Menu -->
                <div class="eight columns">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="{{ path('my_app_mail_form') }}">Contact</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- 960 Container / End -->

        </footer>
        <!-- Footer Bottom / End -->



        <!-- Style Switcher
        ==================================================-->
        <link rel="stylesheet" href="{{ asset( 'css/switcher.css' ) }}">
        <script src="{{ asset( 'scripts/switcher.js' ) }}"></script>

        <section id="style-switcher">
            <h2>Style Switcher <a href="#"></a></h2>
            <div class="sidebar left">
                <aside class="sidebar">
                    <ul>
                        <li>a</li>
                        <li>b</li>
                    </ul>
                </aside>
            </div>
        </section>
        <!--Style Switcher / End -->
