{%extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
    <div align="center">
    <h1>Notification</h1>

    <table class="record_properties" border="1">
        <tbody>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.time }}</td>
            </tr>
            <tr>
                <th>Iddestination</th>
                <td>{{ entity.idDestination }}</td>
            </tr>
            <tr>
                <th>Typedestination</th>
                <td>{{ entity.typeDestination }}</td>
            </tr>
          
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('notification') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('notification_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
{% endblock %}
