{%extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
    <div align="center" style="padding-right:40px;padding-left:50px">
        <h1>Offres d'emploi</h1>


        {% for entity in entities %}
            <article  style="padding-left:1" > 
                <a href="{{ path('offreemploi_show', { 'id': entity.idOwner }) }}">{{ entity.titre }}</a><br>
                <H2> {{entity.titre}}</h2><br>
                <p>{{ entity.description }}</p>
            </article>
            <br><p align="right">
                <a href="{{ path('offreemploi_show', { 'id': entity.annonceId }) }}">show</a><br>
                <a href="{{ path('offreemploi_edit', { 'id': entity.annonceId }) }}">edit</a>
            </p>
            {% endfor %}


        <ul>
            <li>
                <a href="{{ path('offreemploi_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
