{%extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
    <div align="center">
    <h1>OffreEmploi</h1>

    <table class="record_properties" border="1">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
          
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('offreemploi') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('offreemploi_edit', { 'id': entity.annonceId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
{% endblock %}
