{%extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
    &nbsp;
    <div class="container">
        <div class="sixteen columns">
            <!-- Headline -->
            <h3 class="margin-reset"> Nos Auto-écoles </h3><br />

            <table class="standard-table">
                <thead>
                    <tr>
                        <th>Nom de l'auto-école</th>
                        <th>Adresse</th>
                        <th>Telephone</th>
                        <th>Region</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('autoecole_show', { 'id': entity.autoecoleId }) }}">{{ entity.nomAuto }}</a></td>
                            <td>{{ entity.adresse }}</td>
                            <td>{{ entity.tel }}</td>
                            <td>{{ reg[entity.autoecoleId] }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('autoecole_show', { 'id': entity.autoecoleId }) }}">Afficher détails</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('autoecole_edit', { 'id': entity.autoecoleId }) }}">Modifier</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('autoecole_showmap', { 'id': entity.autoecoleId }) }}">Afficher sur la carte</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                
                <div style="margin-bottom: 50px">
                    <a class="button medium color" href="{{ path('autoecole_new') }}">
                        Ajouter une auto-école
                    </a>
                        <a class="button medium color" href="{{ path('cdlrcode_accueil') }}">
                        Quitter
                        </a> </div>
          </div>
    </div>&nbsp;
{% endblock %}
