{%extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
    <div align="center">
    <h1>La liste des cours</h1>

  
        {% for entity in entities %}
            <h1><a href="{{ path('cours_show', { 'id': entity.coursId }) }}">{{ entity.nom }}</h1>
               {{ entity.categorie }}
               {{ entity.path }}
              
                <ul>
                    <li>
                        <a href="{{ path('cours_show', { 'id': entity.coursId }) }}">Afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('cours_edit', { 'id': entity.coursId }) }}">Modifier</a>
                    </li>
                </ul>
     
         
        {% endfor %}
     

        <ul>
        <li>
            <a href="{{ path('cours_create') }}">
                Ajouter un cours
            </a>
        </li>
    </ul>
    </div>
    {% endblock %}
