{%extends "CdlrcodeBundle::layout.html.twig" %}
{% block content %}
    <div align="center">
        <h1>Les voitures à vendre</h1>



        {% for entity in entities %}
            <article>
                <h1><a href="{{ path('ventevoiture_show', { 'id': entity.annonceId }) }}">{{ entity.titre }}</a></h1>
                <br>   {{ entity.description }} <br> 
                {{ entity.prix }} <br> 
                {{ entity.kilometrage }} <br> 
                {{ entity.marque }} <br> 

                <ul>
                    <li>
                        <a href="{{ path('ventevoiture_show', { 'id': entity.annonceId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ventevoiture_edit', { 'id': entity.annonceId }) }}">edit</a>
                    </li>
                </ul>

            {% endfor %}
            </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('ventevoiture_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
    </div>
{% endblock %}
